In [1]:
#Q1. Create one variable containing following type of data:

#(i)string

#(ii)list

#(iii)float

#(iv)tuple

In [2]:
a = "Subhadeep"

In [3]:
b = [ 100, "Python", 200.01, False, 2+9j ]

In [4]:
c = 200.01

In [5]:
d = ( 100, "Python", 200.01, False, 2+9j )

In [6]:
# Q2. Given are some following variables containing data:


#(ii)var2 = ‘[ DS , ML , Python]’

#(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)var4 = 1.

Since, var1 & var2 contains quotation they are of String data type. var3 is a list. var4 is a float number since it is containing a 'dot' after 1

In [7]:
var1 = ''

In [8]:
type(var1)

str

In [9]:
var2 = '[ DS , ML , Python]'

In [10]:
type(var2)

str

In [11]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [12]:
type(var3)

list

In [13]:
var4 = 1.

In [14]:
type(var4)

float

In [15]:
#Q3. Explain the use of the following operators using an example:

#(i)/

#(ii)% 

#(iii)//

#(iv)**

Ans: / is used as a division operator. e.g,

In [16]:
int(2/0.5)

4

Ans: The '%' operator is used to find the remainder of a divison. It is Called Modulus operator. e.g,

In [17]:
a = 25
b = 5

In [18]:
a%b

0

Ans: The '//' operator is used to find the Quotient of a divison.

In [19]:
a//b

5

Ans: The '**' operator is used as power operator.

In [20]:
a**b

9765625

In [21]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [22]:
var_list = [ "Python", "ML", "NLP", "Statistics", 200, 100, 0.50, False, True, 2+3j ]

In [23]:
len(var_list)

10

In [24]:
for n in var_list :
    print("This element in the list is:", n, "& data type of this is:", type(n))

This element in the list is: Python & data type of this is: <class 'str'>
This element in the list is: ML & data type of this is: <class 'str'>
This element in the list is: NLP & data type of this is: <class 'str'>
This element in the list is: Statistics & data type of this is: <class 'str'>
This element in the list is: 200 & data type of this is: <class 'int'>
This element in the list is: 100 & data type of this is: <class 'int'>
This element in the list is: 0.5 & data type of this is: <class 'float'>
This element in the list is: False & data type of this is: <class 'bool'>
This element in the list is: True & data type of this is: <class 'bool'>
This element in the list is: (2+3j) & data type of this is: <class 'complex'>

In [25]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [30]:
numA = 24
numB = 3
while ((numA % numB) == 0) :
    print ("24 is divisible by:", numB)
    numB += 1
    if ((numA % numB ) != 0) :
        numB += 1

    #elif (24 // numB) == 1 :
        #print ("Finished")

24 is divisible by: 3
24 is divisible by: 4
24 is divisible by: 6
24 is divisible by: 8

I'm unable to do this problem. Please Help!!!

In [28]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [34]:
List = range(25)

In [35]:
print (List)

range(0, 25)

In [36]:
# I'm not able to check the list of List variable. It is giving a SyntaxError.
list (List)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [33]:
for n in List :
    if ((n%3) == 0):
        print ("This element is divisible by 3")
    else :
        print ("This element is NOT divisible by 3")

This element is divisible by 3
This element is divisible by 3
This element is divisible by 3
This element is divisible by 3
This element is divisible by 3

In [52]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable data types (e.g. list ) allows reassignment of a particular index, while Immutable data type such as 'String' does not allow reassignment.

In [20]:
VarL = [1,2,3,4,5]

In [21]:
VarL[0] = 3
VarL[1] = 3
VarL[3] = 3
VarL[4] = 3

In [22]:
#Since list is a mutable data type, it allows reassignment & below we can see that.
print (VarL)

[3, 3, 3, 3, 3]

In [23]:
VarS = "string"

In [27]:
VarS[2] = 0

TypeError: 'str' object does not support item assignment

Since String is an immutable data type it is not showing Reassignment/ Mutability.